body{

background:black;
color:#00ff9c;
font-family:monospace;

}

.container{

width:80%;
margin:auto;

}

.card{

border:1px solid #00ff9c;
padding:20px;
margin:20px;
background:#111;

}

input{

width:100%;
padding:10px;
background:black;
color:#00ff9c;
border:1px solid #00ff9c;

}

button{

padding:10px;
background:#00ff9c;
border:none;
color:black;
margin-top:10px;

}

canvas{

position:fixed;
top:0;
left:0;
z-index:-1;

}
